body{
    background-color:black;
    color:white;
    font-style:serif;
}
nav{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Upper {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    background-color:black;
    z-index: 100;
    box-shadow:  rgb(185, 13, 237) 0px 25px 20px -20px;
}
.Name{
    font-size: 20px;
}
.fl{
    font-size: 50px;
    color: rgb(185, 13, 237);

}
.v{
    color: rgb(185, 13, 237);
}
.Menu{
    border: solid  rgb(185, 13, 237) 10px;
    border-radius: 3px;
    background: rgb(185, 13, 237);
}
nav i:hover{
    color:  rgb(185, 13, 237) ;
}
.menuc{
    z-index: 150;
    display: none;
    background-color: rgb(185, 13, 237);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -90px;
    position:fixed;
}
.menuc i{
    margin-left: 100px;
}
.menuc ul{
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20%;
    margin-left: 30%;
}
.menuc a{
    text-decoration: none;
    color:white;
}
.menuc li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.menuc i:hover{
    cursor: pointer;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 50px 0% 0% 10px;
}
.second img{
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.into{
    position: relative;
    left: 150px;
    gap: 0px;
}
.into .we{
    margin-bottom: -90px;
    margin-left: 6px;
    font-size: small;
}
.into .hel{
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color:rgb(28, 13, 237);
}
.hel span{
    color: rgb(193, 187, 9);
}
.resu button{
    color: wheat;
    background-color:rgb(91, 33, 109);
    
}
.resu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:space-evenly;
    margin-top: 30px;
    padding-top: 300px;
    margin-right: 40px;
   
}
.resu button{
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
}
.resu button:hover{
    cursor: pointer;
    background-color: rgb(239, 83, 208);
}
.Ab{
    margin-top: 5%;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
}
.h{margin-top: -1.5%;
   height: 3px;
    width: 5%;
    margin-bottom: 6%;
    border: none;
    border-radius: 2px;
    background-color: rgb(185, 13, 237);
}
.About img{
    height: 350px;
    box-shadow: 
    rgba(185, 13, 237, 0.25) 0px 54px 55px, 
    rgba(185, 13, 237, 0.12) 0px -12px 30px, 
    rgba(185, 13, 237, 0.12) 0px 4px 6px, 
    rgba(185, 13, 237, 0.17) 0px 12px 13px, 
    rgba(185, 13, 237, 0.09) 0px -3px 5px;

    border-radius: 10px;
    margin-left: 10%;
}
.About p{
    margin-right: 80px;
    margin-left: 5%;
    line-height: 200%;
    left: 1px;
}
.About{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}
.Qu{
    margin-top: 10%;
    margin-bottom: 15%;
}
.Qu i{
    font-size: 40px;
    padding-left: 50%;
}
.Qu p{
    font-size: 30px;
    letter-spacing: 1.7px;
    text-align: center;
    margin-top: 30px;
}
.Qu .au{
    margin-top: 0px;
    margin-right: 10%;
    text-align: end;
    font-size: 20px;
}
.en{
    text-align: center;
}
.en h2{
    margin-top: 2%;
}
.co .wh{
    font-size: 30px;
    color: green;
}
#linked{
    color:rgb(30, 81, 183)
}
#insta{
    color: rgb(195, 12, 110);
}
#gitup{
    color:blueviolet

}
.co .i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0%;
    gap: 40px;
    margin-top: 40px;
    font-size: 30px;
    transition: transform .2s;
}
.co i:hover {
    transform: scale(1.5);
    cursor:pointer;
}

@media only screen and (max-width: 1000px)  {
    .Name{
        font-size: 22px;
    }
    .Name .fl{
        font-size:65px;
    }
    .Menu{
        border: solid rgb(185, 13, 237);
        border-radius: 3px;
        backgroundr:rgb(185, 13, 237)
    }
    nav i:hover{
        color:rgb(185, 13, 237) ;
    }
    .menuc{
        z-index: 120;
        display: none;
        background-color:rgb(185, 13, 237);
        height: 350px;
        width: 350px;
        font-size: 19px;
        border-radius: 50%;
        margin-top: -160px;
        margin-left: -100px;
        position:fixed;
    }
    .menuc i{
        margin-left: 100px;
    }
    .menuc ul{
        list-style: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 13%;
        margin-left: 30%;
    }
    .menuc a{
        text-decoration: none;
        color: white;
    }
    .menuc li:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .menuc i:hover{
        cursor: pointer;
    }
    .Menu{
        border: solid rgb(185, 13, 237) 10px;
        border-radius: 3px;
        background:rgb(185, 13, 237);
    }
    .second{
        flex-direction: column;
    }
    .second img{
        margin-left: 30px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    .into{
        left:2%;
    }
    .into .we{
        font-size:10px;
    }
    .resu{
        padding-top: 30px;
        gap: 85px;
    }
    .About img{
        margin-left: 30%;
        height: 50%;
        width: 40%;
    }
     .About p{
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        letter-spacing: 1px;
        line-height: 140%;
        word-wrap: break-word;
        white-space: normal;
    }
    .About{
        flex-direction: column;
    }
    .h{
        margin-top: -1.8%;
        width: 10%;
    }
    .second img{
        margin-left: 30px;
    }
    .co{
        padding-top: 10px;
        padding-bottom: 30px;
    }
}
