body{
    background-color:black;
    color:white;
    font-style:serif;
}
nav{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Upper {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    background-color:black;
    z-index: 100;
    box-shadow:  rgb(185, 13, 237) 0px 25px 20px -20px;
}
.Name{
    font-size: 20px;
}
.fl{
    font-size: 50px;
    color: rgb(185, 13, 237);

}
.v{
    color: rgb(185, 13, 237);
}
.Menu{
    border: solid  rgb(185, 13, 237) 10px;
    border-radius: 3px;
    background: rgb(185, 13, 237);
}
nav i:hover{
    color:  rgb(185, 13, 237) ;
}
.menuc{
    z-index: 150;
    display: none;
    background-color: rgb(185, 13, 237);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -90px;
    position:fixed;
}
.menuc i{
    margin-left: 100px;
}
.menuc ul{
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20%;
    margin-left: 30%;
}
.menuc a{
    text-decoration: none;
    color:white;
}
.menuc li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.menuc i:hover{
    cursor: pointer;
}

.h{
    margin-top: -1.2%;
    height: 4px;
     width: 8%;
     margin-bottom: 6%;
     border: none;
     border-radius: 2px;
     background-color: rgb(185, 13, 237);
 }
.Ab{
    margin-top: 5%;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
}
.About img{
    height: 300px;
    box-shadow:
    rgba(185, 13, 237, 0.25) 0px 54px 55px, 
    rgba(185, 13, 237, 0.12) 0px -12px 30px, 
    rgba(185, 13, 237, 0.12) 0px 4px 6px, 
    rgba(185, 13, 237, 0.17) 0px 12px 13px, 
    rgba(185, 13, 237, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin-left: 15%;
}
.About{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 5%;
}
.eline {
    margin-left: 15%;
    font-size: 25px;
}
.eline p{
    text-align: center;
    letter-spacing: 1px;
}
.About2 img{
    height: 300px;
    box-shadow:
    rgba(185, 13, 237, 0.25) 0px 54px 55px, 
    rgba(185, 13, 237, 0.12) 0px -12px 30px, 
    rgba(185, 13, 237, 0.12) 0px 4px 6px, 
    rgba(185, 13, 237, 0.17) 0px 12px 13px, 
    rgba(185, 13, 237, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin-left: 15%;
}
.About2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 10%;
}
.eline2 {
    margin-left: 15%;
    font-size: 25px;
}
.eline2 p{
    text-align: center;
    letter-spacing: 1px;
}
.sco span{
    color: rgb(91, 107, 252);
}
.About3 img{
    height: 300px;
    width: 300px;
    box-shadow:
    rgba(185, 13, 237, 0.25) 0px 54px 55px, 
    rgba(185, 13, 237, 0.12) 0px -12px 30px, 
    rgba(185, 13, 237, 0.12) 0px 4px 6px, 
    rgba(185, 13, 237, 0.17) 0px 12px 13px, 
    rgba(185, 13, 237, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin-left: 13%;
}
.About3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 13%;
    margin-bottom: 3%;
}
.eline3 {
    margin-left: 11%;
    font-size: 25px;
}
.eline3 p{
    text-align: center;
    letter-spacing: 1px;
}
@media only screen and (max-width: 1000px)  {
    .Name{
        font-size: 22px;
    }
    .Name .fl{
        font-size:65px;
    }
    .Menu{
        border: solid rgb(185, 13, 237);
        border-radius: 3px;
        background:rgb(185, 13, 237);
    }
    nav i:hover{
        color:rgb(185, 13, 237) ;
    }
    .menuc{
        z-index: 120;
        display: none;
        background-color:rgb(185, 13, 237);
        height: 350px;
        width: 350px;
        font-size: 19px;
        border-radius: 50%;
        margin-top: -160px;
        margin-left: -100px;
        position:fixed;
    }
    .menuc i{
        margin-left: 100px;
    }
    .menuc ul{
        list-style: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 13%;
        margin-left: 30%;
    }
    .menuc a{
        text-decoration: none;
        color: white;
    }
    .menuc li:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .menuc i:hover{
        cursor: pointer;
    }
    .Menu{
        border: solid rgb(185, 13, 237) 10px;
        border-radius: 3px;
        background:rgb(185, 13, 237);
    }
    .About img{
        margin-left: -0.8%;
        width: 300px;
    }
    .About p{
        margin-left: -25%;
        letter-spacing: 0.5px;
        line-height: 50%;
    }
    .About{
        flex-direction: column;
    }
    .About2 img{
        display: none;
    }
    .About2 p{
        margin-left: -25%;
        letter-spacing: 0.5px;
        line-height: 50%;
    }
    .About2{
        flex-direction: column;
    }
    .About3 img{
        margin-left: 2%;
        width: 300px;
        margin-bottom: 5%;
    }
    .About3 p{
        margin-left: -25%;
        letter-spacing: 0.5px;
        line-height: 50%;
    }
    .About3{
        flex-direction: column;
    }
    .h{
        margin-top: -1.8%;
        width: 10%;
    }
}